// ============= MAIN.SCSS =============

.main {
    width: 100%;
    @include display-flex(row, flex-start, flex-start);
    flex-wrap: nowrap;
}

@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {
    .main {
        @include display-flex(column, flex-start, flex-start);
        flex-wrap: wrap;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}

// ============= MAIN.SCSS =============