// ============= VARIABLES =============

$background-color: rgba(255, 254, 251, 0.8);
$accent-color: #FF8484;
$text-color: #3F3F3F;
$placeholder-color: #B4B4B4;

// ============= VARIABLES =============